In [29]:
!uv add nsetools

Resolved 47 packages in 1.25s
⠙ Preparing packages... (0/2)
⠙ Preparing packages... (0/2)--------------     0 B/5.58 KiB
⠙ Preparing packages... (0/2)---------- 5.58 KiB/5.58 KiB
⠙ Preparing packages... (0/2)---------- 5.58 KiB/5.58 KiB
dateutils            ------------------------------ 5.58 KiB/5.58 KiB
⠙ Preparing packages... (0/2)--------------     0 B/23.05 KiB
dateutils            ------------------------------ 5.58 KiB/5.58 KiB
⠙ Preparing packages... (0/2)---------- 16.00 KiB/23.05 KiB
dateutils            ------------------------------ 5.58 KiB/5.58 KiB
⠙ Preparing packages... (0/2)---------- 16.00 KiB/23.05 KiB
dateutils            ------------------------------ 5.58 KiB/5.58 KiB
⠙ Preparing packages... (0/2)---------- 23.05 KiB/23.05 KiB
⠙ Preparing packages... (0/2)---------- 23.05 KiB/23.05 KiB
Prepared 2 packages in 51ms
Installed 2 packages in 6ms
 + dateutils==0.6.12
 + nsetools==2.0.1

In [ ]:
from nsetools import Nse
nse = Nse()

In [14]:
# download nse data for backtesting
from yfinance import download

# (Yahoo error = "1h data not available for startTime=1577817000 and endTime=1717180200. The requested range must be within the last 730 days.")'
tickers = ["RELIANCE.NS", "TCS.NS", "HDFCBANK.NS", "INFY.NS", "ICICIBANK.NS"]
data = download(tickers, period="730d", interval="1h")
data.to_csv("data/nse_1h.csv")

/var/folders/sj/rpjttjd11tgcrqpdf2kdk9hm0000gn/T/ipykernel_95042/1958516530.py:6: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = download(tickers, period="730d", interval="1h")
[*********************100%***********************]  5 of 5 completed

In [ ]:
# download all stocks available in nse
from nsepy import get_stock_codes

In [23]:
# create a new column 'pct_change' in the dataframe that contains the percentage change of the 'Close' price for each stock
for ticker in tickers:
    data[('Pct_Change', ticker)] = data[('Close', ticker)].pct_change().fillna(0)

/var/folders/sj/rpjttjd11tgcrqpdf2kdk9hm0000gn/T/ipykernel_95042/316314561.py:3: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  data[('Pct_Change', ticker)] = data[('Close', ticker)].pct_change().fillna(0)

In [28]:
data['Pct_Change']

# find correlation between percentage change of different stocks
data['Pct_Change'].corr()

Ticker        RELIANCE.NS    TCS.NS  HDFCBANK.NS   INFY.NS  ICICIBANK.NS
Ticker
RELIANCE.NS      1.000000  0.305713     0.308323  0.284004      0.333847
TCS.NS           0.305713  1.000000     0.207947  0.667934      0.233759
HDFCBANK.NS      0.308323  0.207947     1.000000  0.219346      0.410988
INFY.NS          0.284004  0.667934     0.219346  1.000000      0.239760
ICICIBANK.NS     0.333847  0.233759     0.410988  0.239760      1.000000

In [24]:
data.head()

Price                           Close                                         \
Ticker                    HDFCBANK.NS ICICIBANK.NS      INFY.NS  RELIANCE.NS
Datetime
2022-11-10 03:45:00+00:00  750.125000   909.700012  1503.199951  1285.025024
2022-11-10 04:45:00+00:00  752.575012   907.750000  1504.000000  1291.000000
2022-11-10 05:45:00+00:00  754.575012   906.400024  1502.050049  1287.025024
2022-11-10 06:45:00+00:00  752.775024   906.900024  1501.699951  1287.824951
2022-11-10 07:45:00+00:00  757.000000   907.750000  1498.699951  1286.574951

Price                                         High                            \
Ticker                          TCS.NS HDFCBANK.NS ICICIBANK.NS      INFY.NS
Datetime
2022-11-10 03:45:00+00:00  3203.000000  752.325012   912.900024  1505.150024
2022-11-10 04:45:00+00:00  3211.050049  753.200012   910.500000  1508.000000
2022-11-10 05:45:00+00:00  3212.550049  755.599976   910.849976  1511.900024
2022-11-10 06:45:00+00:00  3214.750000  755.224976   907.200012  1502.449951
2022-11-10 07:45:00+00:00  3206.199951  757.275024   909.599976  1504.349976

Price                                                ...      Volume  \
Ticker                     RELIANCE.NS       TCS.NS  ... HDFCBANK.NS
Datetime                                             ...
2022-11-10 03:45:00+00:00  1298.150024  3224.250000  ...         0.0
2022-11-10 04:45:00+00:00  1291.250000  3214.800049  ...    493368.0
2022-11-10 05:45:00+00:00  1291.474976  3223.000000  ...    796988.0
2022-11-10 06:45:00+00:00  1288.175049  3216.000000  ...    400312.0
2022-11-10 07:45:00+00:00  1289.250000  3220.899902  ...    914772.0

Price                                                                   \
Ticker                    ICICIBANK.NS   INFY.NS RELIANCE.NS    TCS.NS
Datetime
2022-11-10 03:45:00+00:00          0.0       0.0           0       0.0
2022-11-10 04:45:00+00:00    1071168.0  350791.0      508680  289207.0
2022-11-10 05:45:00+00:00    1200773.0  438295.0      400363  183771.0
2022-11-10 06:45:00+00:00    1488494.0  426240.0      346292  154833.0
2022-11-10 07:45:00+00:00    1633433.0  410508.0      263576  145743.0

Price                      Pct_Change                                  \
Ticker                    RELIANCE.NS    TCS.NS HDFCBANK.NS   INFY.NS
Datetime
2022-11-10 03:45:00+00:00    0.000000  0.000000    0.000000  0.000000
2022-11-10 04:45:00+00:00    0.004650  0.002513    0.003266  0.000532
2022-11-10 05:45:00+00:00   -0.003079  0.000467    0.002658 -0.001297
2022-11-10 06:45:00+00:00    0.000622  0.000685   -0.002385 -0.000233
2022-11-10 07:45:00+00:00   -0.000971 -0.002660    0.005613 -0.001998

Price
Ticker                    ICICIBANK.NS
Datetime
2022-11-10 03:45:00+00:00     0.000000
2022-11-10 04:45:00+00:00    -0.002144
2022-11-10 05:45:00+00:00    -0.001487
2022-11-10 06:45:00+00:00     0.000552
2022-11-10 07:45:00+00:00     0.000937

[5 rows x 30 columns]

In [13]:
data.tail()

Price,Close,High,Low,Open,Volume
Ticker,RELIANCE.NS,RELIANCE.NS,RELIANCE.NS,RELIANCE.NS,RELIANCE.NS
Datetime,,,,,
2025-10-23 05:45:00+00:00,1464.800049,1465.000000,1458.599976,1463.099976,2413000
2025-10-23 06:45:00+00:00,1470.199951,1471.699951,1461.900024,1464.800049,2725200
2025-10-23 07:45:00+00:00,1460.500000,1471.900024,1460.000000,1470.199951,1830894
2025-10-23 08:45:00+00:00,1446.300049,1462.199951,1444.599976,1460.500000,3769963
2025-10-23 09:45:00+00:00,1447.500000,1449.000000,1445.500000,1446.199951,1327242

'data/sec_bhavdata_full_19Jun2024bhav.csv'

In [4]:
import pandas as pd
df = pd.read_csv("data/cm01Jan2020bhav.csv")

In [9]:
df.describe()

,OPEN,HIGH,LOW,CLOSE,LAST,PREVCLOSE,TOTTRDQTY,TOTTRDVAL,TOTALTRADES,Unnamed: 13
count,1910.000000,1910.000000,1910.000000,1910.000000,1910.000000,1910.000000,1.910000e+03,1.910000e+03,1910.000000,0.0
mean,620.106461,626.338728,614.764194,620.172068,619.713503,618.513346,5.574666e+05,1.087350e+08,3613.593717,NaN
std,2304.003900,2324.795208,2292.814048,2309.624522,2312.588816,2304.493478,3.384883e+06,5.198861e+08,11850.202791,NaN
min,0.050000,0.100000,0.050000,0.050000,0.000000,0.050000,1.000000e+00,1.800000e+00,1.000000,NaN
25%,24.737500,25.000000,23.900000,24.412500,24.400000,24.500000,2.605250e+03,1.357235e+05,36.250000,NaN
50%,111.100000,114.350000,108.125000,112.225000,112.225000,110.150000,1.892800e+04,1.435850e+06,300.500000,NaN
75%,459.675000,463.875000,454.737500,456.900000,454.300000,457.900000,1.257520e+05,1.597757e+07,1977.500000,NaN
max,66199.000000,66944.000000,66100.000000,66709.050000,66901.000000,66330.300000,1.022918e+08,9.701063e+09,175825.000000,NaN

In [10]:
# print coloumn on3
# sort df based on coloumn
df = bha
df.sort_values(by="TOTALTRADES", ascending=False)

,SYMBOL,SERIES,OPEN,HIGH,LOW,CLOSE,LAST,PREVCLOSE,TOTTRDQTY,TOTTRDVAL,TIMESTAMP,TOTALTRADES,ISIN,Unnamed: 13
1894,YESBANK,EQ,46.95,47.50,46.50,46.65,46.75,46.95,102291841,4.795695e+09,01-JAN-2020,175825,INE528G01027,NaN
270,CARERATING,EQ,623.95,727.00,615.00,682.40,692.40,638.95,8071496,5.606688e+09,01-JAN-2020,157747,INE752H01013,NaN
682,IBULHSGFIN,EQ,315.00,318.30,310.65,312.70,311.50,313.20,18294197,5.758617e+09,01-JAN-2020,148130,INE148I01020,NaN
1381,RELIANCE,EQ,1518.00,1527.10,1505.50,1509.60,1511.80,1514.05,6402372,9.701063e+09,01-JAN-2020,122265,INE002A01018,NaN
1458,SBIN,EQ,334.70,335.95,332.15,334.45,335.00,333.75,17379320,5.805130e+09,01-JAN-2020,99108,INE062A01020,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1340,PULZ,SM,17.70,17.70,17.70,17.70,17.70,17.00,4000,7.080000e+04,01-JAN-2020,1,INE335X01014,NaN
1158,NETF,EQ,123.73,123.73,123.73,123.73,123.73,123.90,10,1.237300e+03,01-JAN-2020,1,INF277K015R5,NaN
746,IIFLFIN,NN,949.50,949.50,949.50,949.50,949.50,950.00,10,9.495000e+03,01-JAN-2020,1,INE866I08303,NaN
745,IIFLFIN,NJ,987.00,987.00,987.00,987.00,987.00,990.15,2,1.974000e+03,01-JAN-2020,1,INE866I07CJ3,NaN
428,ECLFINANCE,NN,1000.00,1000.00,1000.00,1000.00,1000.00,976.00,10,1.000000e+04,01-JAN-2020,1,INE804I076Z9,NaN