In [ ]:
import yfinance as yf
import matplotlib.pyplot as plt
from mplfinance.original_flavor import candlestick_ohlc

/var/folders/sj/rpjttjd11tgcrqpdf2kdk9hm0000gn/T/ipykernel_13195/1961982351.py:7: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download(STOCK, period='1d', interval='15m')
[*********************100%***********************]  3 of 3 completed

In [ ]:
import requests

url = "https://www.nseindia.com/api/equity-stockIndices?index=NIFTY%20100"

headers = {
    "User-Agent": "Mozilla/5.0",
    "Accept-Language": "en-US,en;q=0.9",
    "Accept": "application/json",
    "Referer": "https://www.nseindia.com/"
}

session = requests.Session()
session.get("https://www.nseindia.com", headers=headers)  # important

data = session.get(url, headers=headers).json()
print(data)  # should show 'data' among other keys
symbols = [item["symbol"] + ".NS" for item in data["data"]]

print(len(symbols))  # should be 100
print(symbols[:10])

:

In [ ]:
STOCK = ['RELIANCE.NS', 'TCS.NS', 'HDFCBANK.NS', ]
data = yf.download(STOCK, period='30d', interval='5m')
# save downloaded data
data.to_csv('data/multi_stock_data.csv')

In [6]:
data.columns

MultiIndex([( 'Close', 'HDFCBANK.NS'),
            ( 'Close', 'RELIANCE.NS'),
            ( 'Close',      'TCS.NS'),
            (  'High', 'HDFCBANK.NS'),
            (  'High', 'RELIANCE.NS'),
            (  'High',      'TCS.NS'),
            (   'Low', 'HDFCBANK.NS'),
            (   'Low', 'RELIANCE.NS'),
            (   'Low',      'TCS.NS'),
            (  'Open', 'HDFCBANK.NS'),
            (  'Open', 'RELIANCE.NS'),
            (  'Open',      'TCS.NS'),
            ('Volume', 'HDFCBANK.NS'),
            ('Volume', 'RELIANCE.NS'),
            ('Volume',      'TCS.NS')],
           names=['Price', 'Ticker'])

In [17]:
reliance_data = data.xs('RELIANCE.NS', level=1, axis=1)

In [ ]:
import talib as ta
reliance_data['MA20'] = ta.MA(reliance_data['Close'], timeperiod=20)

In [24]:
reliance_data

Price,Close,High,Low,Open,Volume
Datetime,,,,,
2025-12-15 03:45:00+00:00,1548.800049,1556.000000,1548.500000,1552.900024,374251
2025-12-15 04:00:00+00:00,1548.000000,1549.900024,1546.500000,1548.699951,278848
2025-12-15 04:15:00+00:00,1551.400024,1551.900024,1547.000000,1548.000000,251602
2025-12-15 04:30:00+00:00,1552.099976,1552.900024,1550.800049,1551.500000,189646
2025-12-15 04:45:00+00:00,1551.500000,1553.099976,1549.500000,1552.099976,135823
2025-12-15 05:00:00+00:00,1550.300049,1551.500000,1548.699951,1551.500000,147714
2025-12-15 05:15:00+00:00,1551.199951,1552.599976,1550.000000,1550.199951,153708
2025-12-15 05:30:00+00:00,1550.500000,1551.599976,1549.900024,1551.199951,139397
2025-12-15 05:45:00+00:00,1552.300049,1552.400024,1550.199951,1550.500000,119088
2025-12-15 06:00:00+00:00,1551.099976,1552.400024,1550.000000,1552.300049,145143
2025-12-15 06:15:00+00:00,1553.800049,1554.699951,1550.900024,1551.099976,175890
2025-12-15 06:30:00+00:00,1554.500000,1554.500000,1553.000000,1553.800049,119162
2025-12-15 06:45:00+00:00,1554.699951,1555.000000,1553.500000,1554.400024,145667
2025-12-15 07:00:00+00:00,1554.900024,1555.000000,1553.699951,1554.699951,112424
2025-12-15 07:15:00+00:00,1555.000000,1556.000000,1553.599976,1555.000000,150415
2025-12-15 07:30:00+00:00,1556.400024,1556.500000,1554.699951,1555.000000,133045
2025-12-15 07:45:00+00:00,1554.500000,1556.500000,1554.099976,1556.500000,146410
2025-12-15 08:00:00+00:00,1554.800049,1556.000000,1554.199951,1554.500000,147157
2025-12-15 08:15:00+00:00,1554.599976,1555.699951,1554.199951,1554.800049,127463
2025-12-15 08:30:00+00:00,1554.500000,1556.099976,1552.500000,1554.699951,356238
2025-12-15 08:45:00+00:00,1554.199951,1555.099976,1553.099976,1554.500000,180906
2025-12-15 09:00:00+00:00,1556.199951,1556.199951,1553.400024,1554.300049,217255
2025-12-15 09:15:00+00:00,1556.400024,1558.099976,1556.000000,1556.099976,459376
2025-12-15 09:30:00+00:00,1556.000000,1557.300049,1555.099976,1556.500000,616299
2025-12-15 09:45:00+00:00,1556.500000,1557.599976,1555.199951,1555.900024,545500

In [27]:
import plotly.graph_objects as go

fig = go.Figure(data=[
    go.Candlestick(
        x=reliance_data.index,
        open=reliance_data['Open'],
        high=reliance_data['High'],
        low=reliance_data['Low'],
        close=reliance_data['Close'],
        name='RELIANCE'
    )
])

fig.update_layout(
    title='RELIANCE.NS OHLC',
    xaxis_title='Date',
    yaxis_title='Price',
    xaxis_rangeslider_visible=True,  # üî• zoom slider
    # template='plotly_dark'            # optional
)

fig.show(renderer = 'browser')

In [1]:
# read a parquet file and show it

In [3]:
import pandas as pd

df = pd.read_parquet("../data/parquet/reliance.parquet")

In [4]:
df

,"('Date', '')","('Close', 'RELIANCE.NS')","('High', 'RELIANCE.NS')","('Low', 'RELIANCE.NS')","('Open', 'RELIANCE.NS')","('Volume', 'RELIANCE.NS')"
0,2024-01-02,1296.255859,1297.893761,1277.048049,1283.003966,7448800
1,2024-01-03,1282.160156,1307.323883,1279.132516,1295.412048,9037536
2,2024-01-04,1288.786011,1295.337617,1280.075579,1284.492835,9612778
3,2024-01-05,1294.270508,1300.300947,1289.456165,1291.888117,8086406
4,2024-01-08,1284.170410,1306.306499,1275.037930,1295.412157,7734652
...,...,...,...,...,...,...
493,2025-12-29,1545.599976,1558.099976,1543.599976,1554.900024,5972105
494,2025-12-30,1539.800049,1553.599976,1537.800049,1547.000000,8815884
495,2025-12-31,1570.400024,1577.000000,1541.000000,1541.000000,5771830
496,2026-01-01,1575.599976,1592.500000,1571.099976,1573.699951,6408128
497,2026-01-02,1592.300049,1594.599976,1578.199951,1580.000000,6601311

In [6]:
import yfinance as yf

In [8]:
rel_df = yf.download("RELIANCE.NS", period="2y", interval="1d")

/var/folders/sj/rpjttjd11tgcrqpdf2kdk9hm0000gn/T/ipykernel_57202/3479765355.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  rel_df = yf.download("RELIANCE.NS", period="2y", interval="1d")
[*********************100%***********************]  1 of 1 completed

In [10]:
rel_df

Price             Close         High          Low         Open      Volume
Ticker      RELIANCE.NS  RELIANCE.NS  RELIANCE.NS  RELIANCE.NS RELIANCE.NS
Date
2024-01-02  1296.255859  1297.893761  1277.048049  1283.003966     7448800
2024-01-03  1282.160156  1307.323883  1279.132516  1295.412048     9037536
2024-01-04  1288.786011  1295.337617  1280.075579  1284.492835     9612778
2024-01-05  1294.270508  1300.300947  1289.456165  1291.888117     8086406
2024-01-08  1284.170288  1306.306375  1275.037809  1295.412034     7734652
...                 ...          ...          ...          ...         ...
2025-12-29  1545.599976  1558.099976  1543.599976  1554.900024     5972105
2025-12-30  1539.800049  1553.599976  1537.800049  1547.000000     8815884
2025-12-31  1570.400024  1577.000000  1541.000000  1541.000000     5771830
2026-01-01  1575.599976  1592.500000  1571.099976  1573.699951     6408128
2026-01-02  1592.300049  1594.599976  1578.199951  1580.000000     6601311

[498 rows x 5 columns]

In [16]:
df = yf.download("RELIANCE.NS", period="2y", interval="1d", group_by="column")

# Flatten columns (THIS IS THE FIX)
df.columns = [col[0] if isinstance(col, tuple) else col for col in df.columns]

/var/folders/sj/rpjttjd11tgcrqpdf2kdk9hm0000gn/T/ipykernel_57202/2883200060.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download("RELIANCE.NS", period="2y", interval="1d", group_by="column")
[*********************100%***********************]  1 of 1 completed

In [17]:
df

                  Close         High          Low         Open   Volume
Date
2024-01-02  1296.255859  1297.893761  1277.048049  1283.003966  7448800
2024-01-03  1282.160156  1307.323883  1279.132516  1295.412048  9037536
2024-01-04  1288.786011  1295.337617  1280.075579  1284.492835  9612778
2024-01-05  1294.270508  1300.300947  1289.456165  1291.888117  8086406
2024-01-08  1284.170288  1306.306375  1275.037809  1295.412034  7734652
...                 ...          ...          ...          ...      ...
2025-12-29  1545.599976  1558.099976  1543.599976  1554.900024  5972105
2025-12-30  1539.800049  1553.599976  1537.800049  1547.000000  8815884
2025-12-31  1570.400024  1577.000000  1541.000000  1541.000000  5771830
2026-01-01  1575.599976  1592.500000  1571.099976  1573.699951  6408128
2026-01-02  1592.300049  1594.599976  1578.199951  1580.000000  6601311

[498 rows x 5 columns]

In [14]:
rel_df.reset_index()

Price,Date,Close,High,Low,Open,Volume
Ticker,,RELIANCE.NS,RELIANCE.NS,RELIANCE.NS,RELIANCE.NS,RELIANCE.NS
0,2024-01-02,1296.255859,1297.893761,1277.048049,1283.003966,7448800
1,2024-01-03,1282.160156,1307.323883,1279.132516,1295.412048,9037536
2,2024-01-04,1288.786011,1295.337617,1280.075579,1284.492835,9612778
3,2024-01-05,1294.270508,1300.300947,1289.456165,1291.888117,8086406
4,2024-01-08,1284.170288,1306.306375,1275.037809,1295.412034,7734652
...,...,...,...,...,...,...
493,2025-12-29,1545.599976,1558.099976,1543.599976,1554.900024,5972105
494,2025-12-30,1539.800049,1553.599976,1537.800049,1547.000000,8815884
495,2025-12-31,1570.400024,1577.000000,1541.000000,1541.000000,5771830
496,2026-01-01,1575.599976,1592.500000,1571.099976,1573.699951,6408128
497,2026-01-02,1592.300049,1594.599976,1578.199951,1580.000000,6601311

In [15]:
rel_df.columns

MultiIndex([( 'Close', 'RELIANCE.NS'),
            (  'High', 'RELIANCE.NS'),
            (   'Low', 'RELIANCE.NS'),
            (  'Open', 'RELIANCE.NS'),
            ('Volume', 'RELIANCE.NS')],
           names=['Price', 'Ticker'])

In [12]:
import polars as pl
df_pl = pl.from_pandas(rel_df.reset_index())

In [13]:
df_pl

shape: (498, 6)
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ ('Date', '')   ‚îÜ ('Close',      ‚îÜ ('High',       ‚îÜ ('Low', 'RELI ‚îÜ ('Open', 'REL ‚îÜ ('Volume',    ‚îÇ
‚îÇ ---            ‚îÜ 'RELIANCE.NS') ‚îÜ 'RELIANCE.NS') ‚îÜ ANCE.NS')     ‚îÜ IANCE.NS')    ‚îÜ 'RELIANCE.NS' ‚îÇ
‚îÇ datetime[ns]   ‚îÜ ---            ‚îÜ ---            ‚îÜ ---           ‚îÜ ---           ‚îÜ )             ‚îÇ
‚îÇ                ‚îÜ f64            ‚îÜ f64            ‚îÜ f64           ‚îÜ f64           ‚îÜ ---           ‚îÇ
‚îÇ                ‚îÜ                ‚îÜ                ‚îÜ               ‚îÜ               ‚îÜ i64           ‚îÇ
‚ïû‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï°
‚îÇ 2024-01-02     ‚îÜ 1296.255859    ‚îÜ 1297.893761    ‚îÜ 1277.048049   ‚îÜ 1283.003966   ‚îÜ 7448800       ‚îÇ
‚îÇ 00:00:00       ‚îÜ                ‚îÜ                ‚îÜ               ‚îÜ               ‚îÜ               ‚îÇ
‚îÇ 2024-01-03     ‚îÜ 1282.160156    ‚îÜ 1307.323883    ‚îÜ 1279.132516   ‚îÜ 1295.412048   ‚îÜ 9037536       ‚îÇ
‚îÇ 00:00:00       ‚îÜ                ‚îÜ                ‚îÜ               ‚îÜ               ‚îÜ               ‚îÇ
‚îÇ 2024-01-04     ‚îÜ 1288.786011    ‚îÜ 1295.337617    ‚îÜ 1280.075579   ‚îÜ 1284.492835   ‚îÜ 9612778       ‚îÇ
‚îÇ 00:00:00       ‚îÜ                ‚îÜ                ‚îÜ               ‚îÜ               ‚îÜ               ‚îÇ
‚îÇ 2024-01-05     ‚îÜ 1294.270508    ‚îÜ 1300.300947    ‚îÜ 1289.456165   ‚îÜ 1291.888117   ‚îÜ 8086406       ‚îÇ
‚îÇ 00:00:00       ‚îÜ                ‚îÜ                ‚îÜ               ‚îÜ               ‚îÜ               ‚îÇ
‚îÇ 2024-01-08     ‚îÜ 1284.170288    ‚îÜ 1306.306375    ‚îÜ 1275.037809   ‚îÜ 1295.412034   ‚îÜ 7734652       ‚îÇ
‚îÇ 00:00:00       ‚îÜ                ‚îÜ                ‚îÜ               ‚îÜ               ‚îÜ               ‚îÇ
‚îÇ ‚Ä¶              ‚îÜ ‚Ä¶              ‚îÜ ‚Ä¶              ‚îÜ ‚Ä¶             ‚îÜ ‚Ä¶             ‚îÜ ‚Ä¶             ‚îÇ
‚îÇ 2025-12-29     ‚îÜ 1545.599976    ‚îÜ 1558.099976    ‚îÜ 1543.599976   ‚îÜ 1554.900024   ‚îÜ 5972105       ‚îÇ
‚îÇ 00:00:00       ‚îÜ                ‚îÜ                ‚îÜ               ‚îÜ               ‚îÜ               ‚îÇ
‚îÇ 2025-12-30     ‚îÜ 1539.800049    ‚îÜ 1553.599976    ‚îÜ 1537.800049   ‚îÜ 1547.0        ‚îÜ 8815884       ‚îÇ
‚îÇ 00:00:00       ‚îÜ                ‚îÜ                ‚îÜ               ‚îÜ               ‚îÜ               ‚îÇ
‚îÇ 2025-12-31     ‚îÜ 1570.400024    ‚îÜ 1577.0         ‚îÜ 1541.0        ‚îÜ 1541.0        ‚îÜ 5771830       ‚îÇ
‚îÇ 00:00:00       ‚îÜ                ‚îÜ                ‚îÜ               ‚îÜ               ‚îÜ               ‚îÇ
‚îÇ 2026-01-01     ‚îÜ 1575.599976    ‚îÜ 1592.5         ‚îÜ 1571.099976   ‚îÜ 1573.699951   ‚îÜ 6408128       ‚îÇ
‚îÇ 00:00:00       ‚îÜ                ‚îÜ                ‚îÜ               ‚îÜ               ‚îÜ               ‚îÇ
‚îÇ 2026-01-02     ‚îÜ 1592.300049    ‚îÜ 1594.599976    ‚îÜ 1578.199951   ‚îÜ 1580.0        ‚îÜ 6601311       ‚îÇ
‚îÇ 00:00:00       ‚îÜ                ‚îÜ                ‚îÜ               ‚îÜ               ‚îÜ               ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò

In [1]:
from src.data.fetchers.mutual_fund import fetch_nav

df = fetch_nav("120503")
print(df.tail())

ModuleNotFoundError: No module named 'src'