In [ ]:
import yfinance as yf
import matplotlib.pyplot as plt
from mplfinance.original_flavor import candlestick_ohlc

/var/folders/sj/rpjttjd11tgcrqpdf2kdk9hm0000gn/T/ipykernel_13195/1961982351.py:7: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download(STOCK, period='1d', interval='15m')
[*********************100%***********************]  3 of 3 completed

In [ ]:
import requests

url = "https://www.nseindia.com/api/equity-stockIndices?index=NIFTY%20100"

headers = {
    "User-Agent": "Mozilla/5.0",
    "Accept-Language": "en-US,en;q=0.9",
    "Accept": "application/json",
    "Referer": "https://www.nseindia.com/"
}

session = requests.Session()
session.get("https://www.nseindia.com", headers=headers)  # important

data = session.get(url, headers=headers).json()
print(data)  # should show 'data' among other keys
symbols = [item["symbol"] + ".NS" for item in data["data"]]

print(len(symbols))  # should be 100
print(symbols[:10])

:

In [ ]:
STOCK = ['RELIANCE.NS', 'TCS.NS', 'HDFCBANK.NS', ]
data = yf.download(STOCK, period='30d', interval='5m')
# save downloaded data
data.to_csv('data/multi_stock_data.csv')

In [6]:
data.columns

MultiIndex([( 'Close', 'HDFCBANK.NS'),
            ( 'Close', 'RELIANCE.NS'),
            ( 'Close',      'TCS.NS'),
            (  'High', 'HDFCBANK.NS'),
            (  'High', 'RELIANCE.NS'),
            (  'High',      'TCS.NS'),
            (   'Low', 'HDFCBANK.NS'),
            (   'Low', 'RELIANCE.NS'),
            (   'Low',      'TCS.NS'),
            (  'Open', 'HDFCBANK.NS'),
            (  'Open', 'RELIANCE.NS'),
            (  'Open',      'TCS.NS'),
            ('Volume', 'HDFCBANK.NS'),
            ('Volume', 'RELIANCE.NS'),
            ('Volume',      'TCS.NS')],
           names=['Price', 'Ticker'])

In [17]:
reliance_data = data.xs('RELIANCE.NS', level=1, axis=1)

In [ ]:
import talib as ta
reliance_data['MA20'] = ta.MA(reliance_data['Close'], timeperiod=20)

In [24]:
reliance_data

Price,Close,High,Low,Open,Volume
Datetime,,,,,
2025-12-15 03:45:00+00:00,1548.800049,1556.000000,1548.500000,1552.900024,374251
2025-12-15 04:00:00+00:00,1548.000000,1549.900024,1546.500000,1548.699951,278848
2025-12-15 04:15:00+00:00,1551.400024,1551.900024,1547.000000,1548.000000,251602
2025-12-15 04:30:00+00:00,1552.099976,1552.900024,1550.800049,1551.500000,189646
2025-12-15 04:45:00+00:00,1551.500000,1553.099976,1549.500000,1552.099976,135823
2025-12-15 05:00:00+00:00,1550.300049,1551.500000,1548.699951,1551.500000,147714
2025-12-15 05:15:00+00:00,1551.199951,1552.599976,1550.000000,1550.199951,153708
2025-12-15 05:30:00+00:00,1550.500000,1551.599976,1549.900024,1551.199951,139397
2025-12-15 05:45:00+00:00,1552.300049,1552.400024,1550.199951,1550.500000,119088
2025-12-15 06:00:00+00:00,1551.099976,1552.400024,1550.000000,1552.300049,145143
2025-12-15 06:15:00+00:00,1553.800049,1554.699951,1550.900024,1551.099976,175890
2025-12-15 06:30:00+00:00,1554.500000,1554.500000,1553.000000,1553.800049,119162
2025-12-15 06:45:00+00:00,1554.699951,1555.000000,1553.500000,1554.400024,145667
2025-12-15 07:00:00+00:00,1554.900024,1555.000000,1553.699951,1554.699951,112424
2025-12-15 07:15:00+00:00,1555.000000,1556.000000,1553.599976,1555.000000,150415
2025-12-15 07:30:00+00:00,1556.400024,1556.500000,1554.699951,1555.000000,133045
2025-12-15 07:45:00+00:00,1554.500000,1556.500000,1554.099976,1556.500000,146410
2025-12-15 08:00:00+00:00,1554.800049,1556.000000,1554.199951,1554.500000,147157
2025-12-15 08:15:00+00:00,1554.599976,1555.699951,1554.199951,1554.800049,127463
2025-12-15 08:30:00+00:00,1554.500000,1556.099976,1552.500000,1554.699951,356238
2025-12-15 08:45:00+00:00,1554.199951,1555.099976,1553.099976,1554.500000,180906
2025-12-15 09:00:00+00:00,1556.199951,1556.199951,1553.400024,1554.300049,217255
2025-12-15 09:15:00+00:00,1556.400024,1558.099976,1556.000000,1556.099976,459376
2025-12-15 09:30:00+00:00,1556.000000,1557.300049,1555.099976,1556.500000,616299
2025-12-15 09:45:00+00:00,1556.500000,1557.599976,1555.199951,1555.900024,545500

In [27]:
import plotly.graph_objects as go

fig = go.Figure(data=[
    go.Candlestick(
        x=reliance_data.index,
        open=reliance_data['Open'],
        high=reliance_data['High'],
        low=reliance_data['Low'],
        close=reliance_data['Close'],
        name='RELIANCE'
    )
])

fig.update_layout(
    title='RELIANCE.NS OHLC',
    xaxis_title='Date',
    yaxis_title='Price',
    xaxis_rangeslider_visible=True,  # ðŸ”¥ zoom slider
    # template='plotly_dark'            # optional
)

fig.show(renderer = 'browser')